{% extends "base.html" %}
{% block header%}
    <h3>Login Form</h3>
	<p>on RaspberryPi2</p>
{%endblock%}
{% block body%}
<div class="col-sm-6 col-sm-offset-3 login_form">
    {% if user.is_authenticated %}
        <div class="alert alert-success">{{msg}}</div>
        <form action="/logout/">
            <div class="form-group">
                <input class="btn btn-danger" type="submit" name="logout" value="Logout"/>
            </div>
        </form>
    {% else %}
        {% if msg %}
            <div class="alert alert-danger">{{msg}}</div>
        {%endif%}
    	<form action="/login/" method="post">
    		{% csrf_token %}
    		{% for field in form %}
    			<div class="form-group">
    				<label>{{field.label}}</label>
    				{{field}}
    				{% for error in field.errors %}
    				    <ul class="errorlist">
    				        <li><i class="fa fa-asterisk"></i> {{error}}</li>
    				    </ul>
    				{% endfor %}
    			</div>
    		{% endfor %}
    		<input type="submit" class="btn btn-success" value="Submit"/>
    		<input type="reset" class="btn btn-danger"/>
    	</form>
	{% endif %}
</div>
{%endblock%}
