{% load staticfiles %}
<!Doctype html>
<html>
	<head>
		<title>Expense Manager</title>
		<link href="{% static 'components/bootstrap/dist/css/bootstrap.css' %}" type="text/css" rel="stylesheet"/>
		<link href="{% static 'components/font-awesome/css/font-awesome.css' %}" type="text/css" rel="stylesheet"/>
		<link href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet"/>
		
	</head>
	<body>
		<div class="body container">
			<div class="header container">
				{%block header%}
				{%endblock%}
			</div>
			<div class="body container">
				{%block body%}
				{%endblock%}
			</div>
			<div class="footer container-fluid">
				{%block footer%}
				{%endblock%}
			</div>
		</div>
	</body>
	<script src="{% static 'jquery/dist/jquery.min.js'%}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js'%}"></script>
</html>