{% load staticfiles %}
<!Doctype html>
<html>
	<head>
		<title>Expense Manager</title>
		<link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" type="text/css" rel="stylesheet"/>
		<link href="{% static 'font-awesome/css/font-awesome.css' %}" type="text/css" rel="stylesheet"/>
		
	</head>
	<body>
		<div class="container-fluid">
			<div class="header container-fluid">
			
			</div>
			<div class="body container">
				
			</div>
			<div class="footer container-fluid">
			
			</div>
		</div>
	</body>
	<script src="{% static 'jquery/dist/jquery.min.js'%}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js'%}"></script>
</html>